@import 'box2';

body{
    height:1800px; 
}
.box-section{  
    position: -webkit-sticky;
    position: sticky;
    top:0;   
}
#box{
    background-color:#3f3f3f;
    width: 150px;
    height:150px;
}
.button{ 
    border:none;
    background-color:grey;
    padding:10px 20px;
    font-weight:600;
    color:blue;
    border:5px solid black;
    display:flex;
    justify-content:center;
}
.disappear{
    display:none;

}
.banner p{
  color:$primary-color;
  font-size:20px;
}
